* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  height: 100vh;
}

/* -------------- CONTAINER -------------- */
.container {
  display: flex;
  height: 100%;
}

/* -------------- MAIN CONTENT -------------- */
.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
}
