/* -------------- TOP CONTAINER -------------- */

.top-container {
  border-bottom: 1px solid #f3f5f7;
  padding: 18px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -------------- SEARCH -------------- */
.search {
  display: flex;
  align-items: center;
  padding: 11px 0 11px 24px;
  max-width: 492px;
  width: 100%;
  border: 1px solid #c3d4e9;
  border-radius: 70px;
  gap: 26px;
  background: #ffffff;
  opacity: 0.8;
}

.search__input {
  border: none;
  outline: none;
  width: calc(100% - 78px);
}

/* -------------- SEARCH -------------- */
.search {
  display: flex;
  align-items: center;
  padding: 11px 0 11px 24px;
  max-width: 492px;
  width: 100%;
  border: 1px solid #c3d4e9;
  border-radius: 70px;
  gap: 26px;
  background: #ffffff;
  opacity: 0.8;
}

.search__input {
  border: none;
  outline: none;
  width: calc(100% - 78px);
}

/* -------------- USER NAV -------------- */
.user-nav,
.user-info {
  display: flex;
  align-items: center;
}

.user-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  margin: 0 37px 0 12px;
}

.user-image {
  height: 44px;
  width: 44px;
}

/* -------------- HEADER -------------- */
.header-container {
  color: #1a202c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  font-weight: 600;
  letter-spacing: -2%;
}

.footer-container {
  margin-top: 20px;
  color: #1a202c;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;

  font-weight: 600;
  letter-spacing: -2%;
}

.section-header {
  line-height: 24px;
  font-size: 16px;
}

.header-container span {
  line-height: 21px;
  font-size: 14px;
}

.year-selector {
  display: flex;
  align-items: center;
  gap: 24px;
}
